main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem;
}

.rating span {
  margin: 0.1rem;
}

.latest-products {
  margin-top: 1%;
  margin-bottom: 0;
  padding-bottom: 0;
}

.snackImagePlaceOrder {
  max-width: 150%;
  height: auto;
}

.navbar.navbar-expand-lg.navbar-dark.bg-dark {
  background-color: #86c4ba !important;
}

/*Header*/
button.TastyGreen-button.btn.btn-primary {
  font-size: 1.25rem;
  background-color: #86c4ba;
  border-color: #86c4ba;
  border: 0;
  outline: 0;
}

button.TastyGreen-button.btn.btn-primary:focus {
  background-color: #86c4ba;
  border-color: #86c4ba;
  border: 0;
  outline: 0;
  box-shadow: none;
}
/*Pagination*/
.active.page-item.active .page-link {
  background-color: #86c4ba !important;
  border-color: #86c4ba !important;
  color: #fff;
}

.page-item .page-link {
  background-color: #fff !important;
  border-color: #86c4ba !important;
  color: grey;
}

/*Carousel*/

.bg-dark.carousel.slide {
  height: 43vh;
  background-color: #86c4ba !important;
}

.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
  font-size: calc(1.1rem + 0.1vw) !important;
  padding-top: 0;
}

.carousel-inner {
  text-align: center;
}

.carousel a {
  margin: 0 auto;
}

.carousel img {
  /* height: 230px; */
  height: 38vh;
  padding: 3%;
  margin-top: 2%;
  /* margin: 0 20%; */
}

/*Product Screen*/
button.btn-block.add-to-cart.btn.btn-primary {
  width: 100%;
}

h2.reviews {
  margin-top: 16px;
  margin-bottom: 0;
}

p.review-date {
  margin-bottom: 4px;
}

p.actual-comment {
  margin-bottom: 4px;
}

label.write-comment.form-label {
  margin-top: 7px;
}

button.submit-comment.btn.btn-primary {
  margin-top: 14px;
}
