main {
  min-height: 80vh;
}

h3 {
  padding: 1 rem 0;
}

h1 {
  font-size: 1.8 rem;
  padding: 1 rem;
}

h2 {
  font-size: 1.4 rem;
  padding: 0.5 rem;
}

.rating span {
  margin: 0.1 rem;
}

.snackImagePlaceOrder {
  max-width: 150%;
  height: auto;
}

/*Carousel*/
.carousel-item-next,
.carousel-item-prev,
.carouse-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
}

.carousel a {
  margin: 0 auto;
}
